body {



}

header {
  background-color: black;
  color: white;
  padding: 15px;
  font-family: helvetica;



}

h2 {
  font-family: helvetica;
  border-bottom: 4px solid black;

}

div {
  background-color: white;
  border: 2px solid black;
  width: 1050px;
  margin: auto;
  padding: 10px;



}

nav {
  float: left;

}

ul {
  list-style-type: none;
}

li {
  background-color: red;
margin-top: 12px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: -35px;
  padding: 10px;
  width: 235px;

}

li:hover {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

main {
  width:750px ;
  margin-left: 270px;

}

/*.red {
  color:red;
  font-weight: bold;
}*/

img {
  float: right;
  margin: 10px;
  width: 400px;

  padding: 5px;
}



footer {
  background-color: black ;

  color: white;
  font-family: verdana;

  font-style: italic;

}
